@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: black;
}

#super_wrap {
  width: 750px;
  height: 100vh;
  margin: 0 auto;
  background-color: #f7f7f7;
}

#super_wrap #wrap {
  position: relative;
  width: 750px;
  height: 100vh;
  margin: 0 auto;
}

#inner_wrap {
  max-width: 750px;
  min-width: 750px;
  margin: 0 auto;
  padding-top: 135px;
}

#inner_wrap .title {
  position: relative;
  text-align: center;
  line-height: 50px;
  padding: 10px 0 0;
  margin-top: 50px;
  margin-bottom: 8px;
}

#inner_wrap .title h1 {
  display: inline-block;
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  line-height: 2;
  margin-bottom: 5px;
  color: #066834;
}

.add_menu_txt {
  width: 330px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.add_menu_txt p{
  line-height: 30px;
  padding: 10px;
}



/* button type */
.button_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

button {
  background-color: transparent;
  background-image: none;
  border: none;
  box-sizing: border-box;
  padding: 13px;
  margin-top: 35px;
  margin-left: 15px;
  margin-right: 15px;
}

button:focus {
  outline: none;
}

.gbtn {
  color: white;
  font-size: 15px;
  min-width: 150px;
  background-color: #6b895d;
  border-radius: 3px;
}

.gbtn:hover {
  background-color: #066834;
}
